doctype html
| 
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='политика конфиденциальности')
  title &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
  // Bootstrap Core CSS
  link(href='bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
  // animation CSS
  link(href='css/animate.css' rel='stylesheet')
  // Custom CSS
  link(href='css/style.css' rel='stylesheet')
  // color CSS
  link#theme(href='css/colors/default.css' rel='stylesheet')
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
// Preloader
h2
  font
    font &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
p
  font
    font &pcy;&ocy;&scy;&tcy;&rcy;&ocy;&icy;&lcy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy; U Rent &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ocy;&gcy;&ocy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;.&nbsp;
    font
      | &Dcy;&acy;&ncy;&ncy;&acy;&yacy; &Ucy;&Scy;&Lcy;&Ucy;&Gcy;&Acy; &pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ocy; &icy; &pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &kcy;&acy;&kcy; &iecy;&scy;&tcy;&softcy;.
p
  font
    font
      | &Ecy;&tcy;&acy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&tcy;&scy;&yacy; &dcy;&lcy;&yacy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &pcy;&ocy;&scy;&iecy;&tcy;&icy;&tcy;&iecy;&lcy;&iecy;&jcy; &ocy; &mcy;&ocy;&iecy;&jcy; &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&iecy; &vcy; &ocy;&tcy;&ncy;&ocy;&shcy;&iecy;&ncy;&icy;&icy; &scy;&bcy;&ocy;&rcy;&acy;, &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &icy; &rcy;&acy;&scy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy; &Lcy;&icy;&chcy;&ncy;&ocy;&jcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy;, &iecy;&scy;&lcy;&icy; &kcy;&tcy;&ocy;-&lcy;&icy;&bcy;&ocy; &rcy;&iecy;&shcy;&icy;&lcy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy; &mcy;&ocy;&yucy; &Ucy;&scy;&lcy;&ucy;&gcy;&ucy;.
p
  font
    font
      | &IEcy;&scy;&lcy;&icy; &vcy;&ycy; &rcy;&iecy;&shcy;&icy;&tcy;&iecy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy; &mcy;&ocy;&yucy; &Scy;&lcy;&ucy;&zhcy;&bcy;&ucy;, &vcy;&ycy; &scy;&ocy;&gcy;&lcy;&acy;&shcy;&acy;&iecy;&tcy;&iecy;&scy;&softcy; &ncy;&acy; &scy;&bcy;&ocy;&rcy; &icy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy; &vcy; &scy;&ocy;&ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&icy;&icy; &scy; &ecy;&tcy;&ocy;&jcy; &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ocy;&jcy;.
    font
      | &Lcy;&icy;&chcy;&ncy;&acy;&yacy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ucy;&yucy; &yacy; &scy;&ocy;&bcy;&icy;&rcy;&acy;&yucy;, &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&tcy;&scy;&yacy; &dcy;&lcy;&yacy; &pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &icy; &ucy;&lcy;&ucy;&chcy;&shcy;&iecy;&ncy;&icy;&yacy; &Scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;.
    font
      | &YAcy; &ncy;&iecy; &bcy;&ucy;&dcy;&ucy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy; &icy;&lcy;&icy; &pcy;&iecy;&rcy;&iecy;&dcy;&acy;&vcy;&acy;&tcy;&softcy; &vcy;&acy;&shcy;&ucy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &kcy;&ocy;&mcy;&ucy;-&lcy;&icy;&bcy;&ocy;, &kcy;&rcy;&ocy;&mcy;&iecy; &scy;&lcy;&ucy;&chcy;&acy;&iecy;&vcy;, &ocy;&pcy;&icy;&scy;&acy;&ncy;&ncy;&ycy;&khcy; &vcy; &ncy;&acy;&scy;&tcy;&ocy;&yacy;&shchcy;&iecy;&jcy; &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&iecy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;.
p
  font
    font
      | &Tcy;&iecy;&rcy;&mcy;&icy;&ncy;&ycy;, &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&mcy;&ycy;&iecy; &vcy; &ncy;&acy;&scy;&tcy;&ocy;&yacy;&shchcy;&iecy;&jcy; &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&iecy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;, &icy;&mcy;&iecy;&yucy;&tcy; &tcy;&iecy; &zhcy;&iecy; &zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&yacy;, &chcy;&tcy;&ocy; &icy; &vcy; &ncy;&acy;&shcy;&icy;&khcy; &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;&khcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&ycy; &vcy; U Rent, &iecy;&scy;&lcy;&icy; &icy;&ncy;&ocy;&iecy; &ncy;&iecy; &ocy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&iecy;&ncy;&ocy; &vcy; &ncy;&acy;&scy;&tcy;&ocy;&yacy;&shchcy;&iecy;&jcy; &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&iecy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;.
p
  strong
    font
      font &Scy;&bcy;&ocy;&rcy; &icy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy;
p
  font
    font
      | &Dcy;&lcy;&yacy; &bcy;&ocy;&lcy;&iecy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&gcy;&ocy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &ncy;&acy;&shcy;&iecy;&gcy;&ocy; &Scy;&iecy;&rcy;&vcy;&icy;&scy;&acy; &yacy; &mcy;&ocy;&gcy;&ucy; &pcy;&ocy;&tcy;&rcy;&iecy;&bcy;&ocy;&vcy;&acy;&tcy;&softcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&ycy; &pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&icy;&lcy;&icy; &ncy;&acy;&mcy; &ocy;&pcy;&rcy;&iecy;&dcy;&iecy;&lcy;&iecy;&ncy;&ncy;&ucy;&yucy; &lcy;&icy;&chcy;&ncy;&ucy;&yucy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy;.
    font
      | &Icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ucy;&yucy; &yacy; &zcy;&acy;&pcy;&rcy;&acy;&shcy;&icy;&vcy;&acy;&yucy;, &bcy;&ucy;&dcy;&iecy;&tcy; &scy;&ocy;&khcy;&rcy;&acy;&ncy;&iecy;&ncy;&acy; &ncy;&acy; &vcy;&acy;&shcy;&iecy;&mcy; &ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&iecy; &icy; &ncy;&icy;&kcy;&acy;&kcy; &ncy;&iecy; &scy;&ocy;&bcy;&rcy;&acy;&ncy;&acy; &mcy;&ncy;&ocy;&jcy;.
p
  font
    font
      | &Pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&tcy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ncy;&icy;&iecy; &scy;&iecy;&rcy;&vcy;&icy;&scy;&ycy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &mcy;&ocy;&gcy;&ucy;&tcy; &scy;&ocy;&bcy;&icy;&rcy;&acy;&tcy;&softcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy;, &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&mcy;&ucy;&yucy; &dcy;&lcy;&yacy; &vcy;&acy;&shcy;&iecy;&jcy; &icy;&dcy;&iecy;&ncy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tscy;&icy;&icy;.
p
  font
    font
      | &Scy;&scy;&ycy;&lcy;&kcy;&acy; &ncy;&acy; &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ucy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ncy;&icy;&khcy; &pcy;&ocy;&scy;&tcy;&acy;&vcy;&shchcy;&icy;&kcy;&ocy;&vcy; &ucy;&scy;&lcy;&ucy;&gcy;, &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&mcy;&ycy;&khcy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy;&mcy;
ul
  li
    a(href='https://www.google.com/policies/privacy/' target='_blank')
      font
        font &Scy;&iecy;&rcy;&vcy;&icy;&scy;&ycy; Google Play
p
  strong
    font
      font &Dcy;&acy;&ncy;&ncy;&ycy;&iecy; &zhcy;&ucy;&rcy;&ncy;&acy;&lcy;&acy;
p
  font
    font
      | &YAcy; &khcy;&ocy;&chcy;&ucy; &scy;&ocy;&ocy;&bcy;&shchcy;&icy;&tcy;&softcy; &vcy;&acy;&mcy;, &chcy;&tcy;&ocy; &vcy;&scy;&yacy;&kcy;&icy;&jcy; &rcy;&acy;&zcy;, &kcy;&ocy;&gcy;&dcy;&acy; &vcy;&ycy; &pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&tcy;&iecy;&scy;&softcy; &mcy;&ocy;&iecy;&jcy; &Scy;&lcy;&ucy;&zhcy;&bcy;&ocy;&jcy;, &vcy; &scy;&lcy;&ucy;&chcy;&acy;&iecy; &ocy;&shcy;&icy;&bcy;&kcy;&icy; &vcy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&icy; &yacy; &scy;&ocy;&bcy;&icy;&rcy;&acy;&yucy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy; &icy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; (&chcy;&iecy;&rcy;&iecy;&zcy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ncy;&icy;&iecy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;) &ncy;&acy; &vcy;&acy;&shcy;&iecy;&mcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&iecy; &pcy;&ocy;&dcy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;&mcy; &laquo;&Dcy;&acy;&ncy;&ncy;&ycy;&iecy; &zhcy;&ucy;&rcy;&ncy;&acy;&lcy;&acy;&raquo;.
    font
      | &Ecy;&tcy;&icy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy; &zhcy;&ucy;&rcy;&ncy;&acy;&lcy;&acy; &mcy;&ocy;&gcy;&ucy;&tcy; &vcy;&kcy;&lcy;&yucy;&chcy;&acy;&tcy;&softcy; &vcy; &scy;&iecy;&bcy;&yacy; &tcy;&acy;&kcy;&ucy;&yucy; &ZeroWidthSpace;&ZeroWidthSpace;&icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy;, &kcy;&acy;&kcy; &acy;&dcy;&rcy;&iecy;&scy; &icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;-&pcy;&rcy;&ocy;&tcy;&ocy;&kcy;&ocy;&lcy;&acy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; &ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&acy; (&laquo;IP&raquo;), &icy;&mcy;&yacy; &ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&acy;, &vcy;&iecy;&rcy;&scy;&icy;&yacy; &ocy;&pcy;&iecy;&rcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;&jcy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&ycy;, &kcy;&ocy;&ncy;&fcy;&icy;&gcy;&ucy;&rcy;&acy;&tscy;&icy;&yacy; &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy; &pcy;&rcy;&icy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&icy; &mcy;&ocy;&iecy;&jcy; &scy;&lcy;&ucy;&zhcy;&bcy;&ycy;, &vcy;&rcy;&iecy;&mcy;&yacy; &icy; &dcy;&acy;&tcy;&acy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &vcy;&acy;&mcy;&icy; &scy;&lcy;&ucy;&zhcy;&bcy;&ycy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy; &scy;&tcy;&acy;&tcy;&icy;&scy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy;. ,
p
  strong
    font
      font &Pcy;&iecy;&chcy;&iecy;&ncy;&softcy;&iecy;
p
  font
    font
      | &Fcy;&acy;&jcy;&lcy;&ycy; cookie - &ecy;&tcy;&ocy; &fcy;&acy;&jcy;&lcy;&ycy; &scy; &ncy;&iecy;&bcy;&ocy;&lcy;&softcy;&shcy;&icy;&mcy; &ocy;&bcy;&hardcy;&iecy;&mcy;&ocy;&mcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &ocy;&bcy;&ycy;&chcy;&ncy;&ocy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&yucy;&tcy;&scy;&yacy; &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &acy;&ncy;&ocy;&ncy;&icy;&mcy;&ncy;&ycy;&khcy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&dcy;&iecy;&ncy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tcy;&ocy;&rcy;&ocy;&vcy;.
    font
      | &Ocy;&ncy;&icy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &vcy; &vcy;&acy;&shcy; &bcy;&rcy;&acy;&ucy;&zcy;&iecy;&rcy; &scy; &pcy;&ocy;&scy;&iecy;&shchcy;&acy;&iecy;&mcy;&ycy;&khcy; &vcy;&acy;&mcy;&icy; &vcy;&iecy;&bcy;-&scy;&acy;&jcy;&tcy;&ocy;&vcy; &icy; &khcy;&rcy;&acy;&ncy;&yacy;&tcy;&scy;&yacy; &vcy;&ocy; &vcy;&ncy;&ucy;&tcy;&rcy;&iecy;&ncy;&ncy;&iecy;&jcy; &pcy;&acy;&mcy;&yacy;&tcy;&icy; &vcy;&acy;&shcy;&iecy;&gcy;&ocy; &ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&acy;.
p
  font
    font &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &Scy;&iecy;&rcy;&vcy;&icy;&scy; &ncy;&iecy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&tcy; &ecy;&tcy;&icy; &laquo;&kcy;&ucy;&kcy;&icy;&raquo; &yacy;&vcy;&ncy;&ocy;.&nbsp;
    font
      | &Tcy;&iecy;&mcy; &ncy;&iecy; &mcy;&iecy;&ncy;&iecy;&iecy;, &pcy;&rcy;&icy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy; &mcy;&ocy;&zhcy;&iecy;&tcy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ncy;&icy;&jcy; &kcy;&ocy;&dcy; &icy; &bcy;&icy;&bcy;&lcy;&icy;&ocy;&tcy;&iecy;&kcy;&icy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&yucy;&tcy; &laquo;&kcy;&ucy;&kcy;&icy;&raquo; &dcy;&lcy;&yacy; &scy;&bcy;&ocy;&rcy;&acy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy; &icy; &ucy;&lcy;&ucy;&chcy;&shcy;&iecy;&ncy;&icy;&yacy; &scy;&vcy;&ocy;&icy;&khcy; &ucy;&scy;&lcy;&ucy;&gcy;.
    font
      | &Ucy; &vcy;&acy;&scy; &iecy;&scy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&icy;&ncy;&yacy;&tcy;&softcy; &icy;&lcy;&icy; &ocy;&tcy;&kcy;&lcy;&ocy;&ncy;&icy;&tcy;&softcy; &ecy;&tcy;&icy; &fcy;&acy;&jcy;&lcy;&ycy; cookie &icy; &ucy;&zcy;&ncy;&acy;&tcy;&softcy;, &kcy;&ocy;&gcy;&dcy;&acy; &fcy;&acy;&jcy;&lcy; cookie &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &ncy;&acy; &vcy;&acy;&shcy;&iecy; &ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&ocy;.
    font
      | &IEcy;&scy;&lcy;&icy; &vcy;&ycy; &rcy;&iecy;&shcy;&icy;&tcy;&iecy; &ocy;&tcy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;&scy;&yacy; &ocy;&tcy; &ncy;&acy;&shcy;&icy;&khcy; &fcy;&acy;&jcy;&lcy;&ocy;&vcy; cookie, &vcy;&ycy; &ncy;&iecy; &scy;&mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy; &ncy;&iecy;&kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &chcy;&acy;&scy;&tcy;&icy; &ecy;&tcy;&ocy;&jcy; &Ucy;&scy;&lcy;&ucy;&gcy;&icy;.
p
  strong
    font
      font &Pcy;&ocy;&scy;&tcy;&acy;&vcy;&shchcy;&icy;&kcy;&icy; &ucy;&scy;&lcy;&ucy;&gcy;
p
  font
    font &YAcy; &mcy;&ocy;&gcy;&ucy; &ncy;&acy;&ncy;&icy;&mcy;&acy;&tcy;&softcy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ncy;&icy;&iecy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &icy; &chcy;&acy;&scy;&tcy;&ncy;&ycy;&khcy; &lcy;&icy;&tscy; &pcy;&ocy; &scy;&lcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&icy;&mcy; &pcy;&rcy;&icy;&chcy;&icy;&ncy;&acy;&mcy;:
ul
  li
    font
      font &Dcy;&lcy;&yacy; &ocy;&bcy;&lcy;&iecy;&gcy;&chcy;&iecy;&ncy;&icy;&yacy; &ncy;&acy;&shcy;&iecy;&gcy;&ocy; &Scy;&iecy;&rcy;&vcy;&icy;&scy;&acy;;
  li
    font
      font &Pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&yacy;&tcy;&softcy; &Scy;&iecy;&rcy;&vcy;&icy;&scy; &ocy;&tcy; &ncy;&acy;&shcy;&iecy;&gcy;&ocy; &icy;&mcy;&iecy;&ncy;&icy;;
  li
    font
      font &Ocy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&tcy;&softcy; &Scy;&iecy;&rcy;&vcy;&icy;&scy;-&scy;&vcy;&yacy;&zcy;&acy;&ncy;&ncy;&ycy;&iecy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;;&nbsp;
      font &icy;&lcy;&icy;
  li
    font
      font &CHcy;&tcy;&ocy;&bcy;&ycy; &pcy;&ocy;&mcy;&ocy;&chcy;&softcy; &ncy;&acy;&mcy; &vcy; &acy;&ncy;&acy;&lcy;&icy;&zcy;&iecy; &tcy;&ocy;&gcy;&ocy;, &kcy;&acy;&kcy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&tcy;&scy;&yacy; &ncy;&acy;&shcy; &Scy;&iecy;&rcy;&vcy;&icy;&scy;.
p
  font
    font
      | &YAcy; &khcy;&ocy;&chcy;&ucy; &scy;&ocy;&ocy;&bcy;&shchcy;&icy;&tcy;&softcy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;&mcy; &dcy;&acy;&ncy;&ncy;&ocy;&jcy; &Ucy;&scy;&lcy;&ucy;&gcy;&icy;, &chcy;&tcy;&ocy; &ecy;&tcy;&icy; &tcy;&rcy;&iecy;&tcy;&softcy;&icy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ycy; &icy;&mcy;&iecy;&yucy;&tcy; &dcy;&ocy;&scy;&tcy;&ucy;&pcy; &kcy; &vcy;&acy;&shcy;&iecy;&jcy; &Lcy;&icy;&chcy;&ncy;&ocy;&jcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy;.
    font &Pcy;&rcy;&icy;&chcy;&icy;&ncy;&acy; &vcy; &tcy;&ocy;&mcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&yacy;&tcy;&softcy; &pcy;&ocy;&rcy;&ucy;&chcy;&iecy;&ncy;&ncy;&ycy;&iecy; &icy;&mcy; &zcy;&acy;&dcy;&acy;&chcy;&icy; &ocy;&tcy; &ncy;&acy;&shcy;&iecy;&gcy;&ocy; &icy;&mcy;&iecy;&ncy;&icy;.&nbsp;
    font
      | &Ocy;&dcy;&ncy;&acy;&kcy;&ocy; &ocy;&ncy;&icy; &ocy;&bcy;&yacy;&zcy;&acy;&ncy;&ycy; &ncy;&iecy; &rcy;&acy;&zcy;&gcy;&lcy;&acy;&shcy;&acy;&tcy;&softcy; &icy; &ncy;&iecy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &dcy;&lcy;&yacy; &kcy;&acy;&kcy;&icy;&khcy;-&lcy;&icy;&bcy;&ocy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &tscy;&iecy;&lcy;&iecy;&jcy;.
p
  strong
    font
      font &Bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&ocy;&scy;&tcy;&softcy;
p
  font
    font
      | &YAcy; &tscy;&iecy;&ncy;&yucy; &vcy;&acy;&shcy;&iecy; &dcy;&ocy;&vcy;&iecy;&rcy;&icy;&iecy; &vcy; &pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&icy; &ncy;&acy;&mcy; &vcy;&acy;&shcy;&iecy;&jcy; &lcy;&icy;&chcy;&ncy;&ocy;&jcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy;, &pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &mcy;&ycy; &scy;&tcy;&rcy;&iecy;&mcy;&icy;&mcy;&scy;&yacy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy; &kcy;&ocy;&mcy;&mcy;&iecy;&rcy;&chcy;&iecy;&scy;&kcy;&icy; &pcy;&rcy;&icy;&iecy;&mcy;&lcy;&iecy;&mcy;&ycy;&iecy; &scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &iecy;&iecy; &zcy;&acy;&shchcy;&icy;&tcy;&ycy;.
    font
      | &Ncy;&ocy; &pcy;&ocy;&mcy;&ncy;&icy;&tcy;&iecy;, &chcy;&tcy;&ocy; &ncy;&icy; &ocy;&dcy;&icy;&ncy; &mcy;&iecy;&tcy;&ocy;&dcy; &pcy;&iecy;&rcy;&iecy;&dcy;&acy;&chcy;&icy; &chcy;&iecy;&rcy;&iecy;&zcy; &Icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy; &icy;&lcy;&icy; &mcy;&iecy;&tcy;&ocy;&dcy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&ocy;&gcy;&ocy; &khcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&yacy; &ncy;&iecy; &yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &ncy;&acy; 100% &bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&ycy;&mcy; &icy; &ncy;&acy;&dcy;&iecy;&zhcy;&ncy;&ycy;&mcy;, &icy; &yacy; &ncy;&iecy; &mcy;&ocy;&gcy;&ucy; &gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &iecy;&gcy;&ocy; &acy;&bcy;&scy;&ocy;&lcy;&yucy;&tcy;&ncy;&ucy;&yucy; &bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&ocy;&scy;&tcy;&softcy;.
p
  strong
    font
      font &Scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy; &scy;&acy;&jcy;&tcy;&ycy;
p
  font
    font &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &Scy;&iecy;&rcy;&vcy;&icy;&scy; &mcy;&ocy;&zhcy;&iecy;&tcy; &scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&tcy;&softcy; &scy;&scy;&ycy;&lcy;&kcy;&icy; &ncy;&acy; &dcy;&rcy;&ucy;&gcy;&icy;&iecy; &scy;&acy;&jcy;&tcy;&ycy;.&nbsp;
    font &IEcy;&scy;&lcy;&icy; &vcy;&ycy; &ncy;&acy;&zhcy;&mcy;&iecy;&tcy;&iecy; &ncy;&acy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ncy;&yucy;&yucy; &scy;&scy;&ycy;&lcy;&kcy;&ucy;, &vcy;&ycy; &bcy;&ucy;&dcy;&iecy;&tcy;&iecy; &pcy;&iecy;&rcy;&iecy;&ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&ycy; &ncy;&acy; &ecy;&tcy;&ocy;&tcy; &scy;&acy;&jcy;&tcy;.&nbsp;
    font &Ocy;&bcy;&rcy;&acy;&tcy;&icy;&tcy;&iecy; &vcy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&iecy;, &chcy;&tcy;&ocy; &ecy;&tcy;&icy; &vcy;&ncy;&iecy;&shcy;&ncy;&icy;&iecy; &scy;&acy;&jcy;&tcy;&ycy; &ncy;&iecy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy; &mcy;&ncy;&ocy;&jcy;.&nbsp;
    font
      | &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &yacy; &ncy;&acy;&scy;&tcy;&ocy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&yucy; &vcy;&acy;&mcy; &ocy;&zcy;&ncy;&acy;&kcy;&ocy;&mcy;&icy;&tcy;&softcy;&scy;&yacy; &scy; &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ocy;&jcy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &ecy;&tcy;&icy;&khcy; &vcy;&iecy;&bcy;-&scy;&acy;&jcy;&tcy;&ocy;&vcy;.
    font
      | &YAcy; &ncy;&iecy; &kcy;&ocy;&ncy;&tcy;&rcy;&ocy;&lcy;&icy;&rcy;&ucy;&yucy; &icy; &ncy;&iecy; &ncy;&iecy;&scy;&ucy; &ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&icy; &zcy;&acy; &scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;, &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ucy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &icy;&lcy;&icy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy; &lcy;&yucy;&bcy;&ycy;&khcy; &scy;&tcy;&ocy;&rcy;&ocy;&ncy;&ncy;&icy;&khcy; &scy;&acy;&jcy;&tcy;&ocy;&vcy; &icy;&lcy;&icy; &scy;&lcy;&ucy;&zhcy;&bcy;.
p
  strong
    font
      font &CHcy;&acy;&scy;&tcy;&ncy;&acy;&yacy; &zhcy;&icy;&zcy;&ncy;&softcy; &dcy;&iecy;&tcy;&iecy;&jcy;
p
  font
    font
      | &Ecy;&tcy;&icy; &Ucy;&scy;&lcy;&ucy;&gcy;&icy; &ncy;&iecy; &pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&ycy; &dcy;&lcy;&yacy; &lcy;&icy;&tscy; &mcy;&lcy;&acy;&dcy;&shcy;&iecy; 13 &lcy;&iecy;&tcy;. &YAcy; &scy;&ocy;&zcy;&ncy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &ncy;&iecy; &scy;&ocy;&bcy;&icy;&rcy;&acy;&yucy; &lcy;&icy;&chcy;&ncy;&ucy;&yucy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &ocy;&tcy; &dcy;&iecy;&tcy;&iecy;&jcy; &mcy;&lcy;&acy;&dcy;&shcy;&iecy; 13 &lcy;&iecy;&tcy;. &Vcy; &scy;&lcy;&ucy;&chcy;&acy;&iecy;, &iecy;&scy;&lcy;&icy; &yacy; &ocy;&bcy;&ncy;&acy;&rcy;&ucy;&zhcy;&icy;&vcy;&acy;&yucy;, &chcy;&tcy;&ocy; &rcy;&iecy;&bcy;&iecy;&ncy;&ocy;&kcy; &mcy;&lcy;&acy;&dcy;&shcy;&iecy; 13 &lcy;&iecy;&tcy; &pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&icy;&lcy; &mcy;&ncy;&iecy; &lcy;&icy;&chcy;&ncy;&ucy;&yucy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy;, &yacy; &ncy;&iecy;&mcy;&iecy;&dcy;&lcy;&iecy;&ncy;&ncy;&ocy; &ucy;&dcy;&acy;&lcy;&yacy;&yucy; &iecy;&iecy; &scy; &ncy;&acy;&shcy;&icy;&khcy; &scy;&iecy;&rcy;&vcy;&iecy;&rcy;&ocy;&vcy;.
    font
      | &IEcy;&scy;&lcy;&icy; &vcy;&ycy; &yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&iecy;&scy;&softcy; &rcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&iecy;&mcy; &icy;&lcy;&icy; &ocy;&pcy;&iecy;&kcy;&ucy;&ncy;&ocy;&mcy; &icy; &vcy;&acy;&mcy; &icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ocy;, &chcy;&tcy;&ocy; &vcy;&acy;&shcy; &rcy;&iecy;&bcy;&iecy;&ncy;&ocy;&kcy; &pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&icy;&lcy; &ncy;&acy;&mcy; &lcy;&icy;&chcy;&ncy;&ucy;&yucy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy;, &pcy;&ocy;&zhcy;&acy;&lcy;&ucy;&jcy;&scy;&tcy;&acy;, &scy;&vcy;&yacy;&zhcy;&icy;&tcy;&iecy;&scy;&softcy; &scy;&ocy; &mcy;&ncy;&ocy;&jcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &yacy; &scy;&mcy;&ocy;&gcy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&softcy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&iecy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy;.
p
  strong
    font
      font &Icy;&zcy;&mcy;&iecy;&ncy;&iecy;&ncy;&icy;&yacy; &vcy; &ncy;&acy;&scy;&tcy;&ocy;&yacy;&shchcy;&iecy;&jcy; &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&iecy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
p
  font
    font &YAcy; &mcy;&ocy;&gcy;&ucy; &ocy;&bcy;&ncy;&ocy;&vcy;&lcy;&yacy;&tcy;&softcy; &ncy;&acy;&shcy;&ucy; &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ucy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &vcy;&rcy;&iecy;&mcy;&yacy; &ocy;&tcy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy;.&nbsp;
    font
      | &Tcy;&acy;&kcy;&icy;&mcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&mcy;, &vcy;&acy;&mcy; &rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&iecy;&tcy;&scy;&yacy; &pcy;&iecy;&rcy;&icy;&ocy;&dcy;&icy;&chcy;&iecy;&scy;&kcy;&icy; &pcy;&rcy;&ocy;&scy;&mcy;&acy;&tcy;&rcy;&icy;&vcy;&acy;&tcy;&softcy; &ecy;&tcy;&ucy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ucy; &ncy;&acy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&iecy; &icy;&zcy;&mcy;&iecy;&ncy;&iecy;&ncy;&icy;&jcy;.
    font
      | &YAcy; &scy;&ocy;&ocy;&bcy;&shchcy;&ucy; &vcy;&acy;&mcy; &ocy; &lcy;&yucy;&bcy;&ycy;&khcy; &icy;&zcy;&mcy;&iecy;&ncy;&iecy;&ncy;&icy;&yacy;&khcy;, &rcy;&acy;&zcy;&mcy;&iecy;&scy;&tcy;&icy;&vcy; &ncy;&ocy;&vcy;&ucy;&yucy; &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ucy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &ncy;&acy; &ecy;&tcy;&ocy;&jcy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&iecy;.
    font &Ecy;&tcy;&icy; &icy;&zcy;&mcy;&iecy;&ncy;&iecy;&ncy;&icy;&yacy; &vcy;&scy;&tcy;&ucy;&pcy;&acy;&yucy;&tcy; &vcy; &scy;&icy;&lcy;&ucy; &scy;&rcy;&acy;&zcy;&ucy; &pcy;&ocy;&scy;&lcy;&iecy; &icy;&khcy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&icy; &ncy;&acy; &ecy;&tcy;&ocy;&jcy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&iecy;.
script(src='../plugins/bower_components/jquery/dist/jquery.min.js')
// Bootstrap Core JavaScript
script(src='bootstrap/dist/js/bootstrap.min.js')
